
    
    <footer class="text-white container-fluid mt-5" style="background-color: rgb(30, 30, 29);">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1 mt-5 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab atque tempora odit? Incidunt, error reprehenderit. Obcaecati quas, ut nemo, nostrum qui minus tempora quibusdam magnam mollitia accusantium vel. Deserunt, ipsa.</p>
            <div class="text-center mb-4">
                <app-contact-info></app-contact-info>
            </div>
            <div class="row mb-5">

                    <div class="col-lg-4 mb-3">
                        <div>
                            <app-contact-form></app-contact-form>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.8400193641114!2d-7.644606784854013!3d33.583502780736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2e8232b7613%3A0xf40d9907f5b308d6!2sEMSI%20maarif!5e0!3m2!1sfr!2sma!4v1622420529568!5m2!1sfr!2sma" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <div>
                            <h4>Lien utile</h4>
                            <a routerLink="/" class="u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1 mb-2" style="width: 200px;">Home<br>
                            </a>
                            <a routerLink="/about" class="u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn mb-2" style="width: 200px;">A propos<br>
                            </a>
                            <a routerLink="/contact" class="u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn mb-2" style="width: 200px;">Contact<br>
                            </a>
                            <a routerLink="/collaborez" class="u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn mb-2" style="width: 200px;">Collaborez&nbsp;<br>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </footer>