<section class="u-clearfix u-section-1" id="carousel_c2a9">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-43">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                  <div class="u-container-layout u-valign-bottom-xs u-container-layout-1">
                    <img class="u-image u-image-default u-image-1" src="src/assets/img/pexels-photo-3375230.jpeg" alt="" data-image-width="1000" data-image-height="1500">
                    <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout u-container-layout-2">
                    <h2 class="u-custom-font u-font-playfair-display u-text u-text-1">Notre equipe</h2>
                    <h6 class="u-text u-text-2">Vivamus arcu felis bibendum ut tristique et.</h6>
                    <p class="u-text u-text-3">Vivamus arcu felis bibendum ut tristique et. Habitant morbi tristique senectus et netus et malesuada fames. Sapien eget mi proin sed libero enim sed. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-17">
              <div class="u-layout-col">
                <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="963" data-image-height="1500">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-size-30 u-image-3" data-image-width="720" data-image-height="1080">
                  <div class="u-container-layout u-container-layout-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-b7b4">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h2 class="u-text u-text-1">About Us</h2>
                <p class="u-text u-text-2">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.</p>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-1" src="" data-image-width="256" data-image-height="256">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>