.u-section-1 .u-sheet-1 {
    min-height: 641px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 671px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-1 {
    width: 277px;
    height: 384px;
    margin: 59px auto 0 0;
  }
  
  .u-section-1 .u-shape-1 {
    width: 82px;
    height: 338px;
    background-image: none;
    margin: -255px 0 0 auto;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 672px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 206px 69px 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin: 20px 70px 0 0;
  }
  
  .u-section-1 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-image-2 {
    min-height: 336px;
    background-image: url("src/assets/img/pexels-photo-3375230.jpeg");
    background-position: 50% 8.53%;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-3 {
    min-height: 336px;
    background-image: url("src/assets/img//pexels-photo-3261141.jpeg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 30px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 515px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 616px;
    }
  
    .u-section-1 .u-image-1 {
      width: 258px;
      height: 358px;
    }
  
    .u-section-1 .u-shape-1 {
      height: 276px;
      margin-top: -229px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 554px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 277px;
    }
  
    .u-section-1 .u-image-3 {
      min-height: 277px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 425px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 555px;
    }
  
    .u-section-1 .u-image-1 {
      width: 179px;
      height: 248px;
    }
  
    .u-section-1 .u-shape-1 {
      height: 186px;
      margin-top: -119px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 212px;
    }
  
    .u-section-1 .u-image-3 {
      min-height: 212px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 2071px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-bottom: -153px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 686px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-1 {
      width: 335px;
      height: 464px;
    }
  
    .u-section-1 .u-shape-1 {
      height: 381px;
      margin-top: -325px;
      margin-right: 144px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 561px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-3 {
      min-height: 561px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1578px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-bottom: 0;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 669px;
    }
  
    .u-section-1 .u-image-1 {
      width: 270px;
      height: 443px;
      margin-top: 0;
    }
  
    .u-section-1 .u-shape-1 {
      margin-top: -304px;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 353px;
    }
  
    .u-section-1 .u-image-3 {
      min-height: 353px;
    }
  }.u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin: 61px auto 60px 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 409px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-image-1 {
    min-height: 409px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 436px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 337px;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 337px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 334px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 258px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 251px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 581px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 158px;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 366px;
    }
  }