

<h1 class="text-center font-weight-bold mt-5">Contactez nous</h1>
<hr style="width: 20%; background: red">


<div class="row mt-5">
    <div class="col-6">
        <app-contact-form></app-contact-form>
    </div>
    <div class="col-6">
        <app-contact-info></app-contact-info>
        <hr>
        <div class="row mt-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.8400193641114!2d-7.644606784854013!3d33.583502780736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2e8232b7613%3A0xf40d9907f5b308d6!2sEMSI%20maarif!5e0!3m2!1sfr!2sma!4v1622420529568!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

