

<div class="row text-center">
    <div class="col-md-4">
        <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block">
            <fa-icon [icon]="faMapMarked" class="prefix text-white fa-2x m-3"></fa-icon>
        </a>
        <p>217, BD BIR ANAZARANE, quartier Maarif,<br> Casablanca</p>
        
    </div>

    <div class="col-md-4">
        <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block">
            <fa-icon [icon]="faPhone" class="prefix text-white fa-2x m-3"></fa-icon>
        </a>
        <p>+212-643-334135 <br> +212-522-992323</p>
    </div>

    <div class="col-md-4">
        <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block">
            <fa-icon [icon]="faEnvelopeOpen" class="prefix text-white fa-2x m-3"></fa-icon>
        </a>
        <p>Taimourya@gmail.com<br> Diyaa@gmail.com <br> Elhattab@gmail.com</p>
    </div>
</div>