
<div class="row card-items">
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <i class="bi bi-laptop"></i>
                <h5 class="card-title" style="color: rgb(243, 92, 54);">En tant que restaurant</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <i class="bi bi-droplet-half"></i>
                <h5 class="card-title" style="color: rgb(243, 92, 54);">En tant que livreur</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <i class="bi bi-envelope-open"></i>
                <h5 class="card-title" style="color: rgb(243, 92, 54);"> En tant qu'assistant</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <i class="bi bi-phone"></i>
                <h5 class="card-title" style="color: rgb(243, 92, 54);">En tant qu'assistant expert</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</div>